---
import BaseLayout from "../layouts/BaseLayout.astro";
import NamedSlots from "./named-slots.astro";
---

<BaseLayout pageTitle="Home Page">
	<h2>My awesome blog subtitle</h2>
	<NamedSlots></NamedSlots>
</BaseLayout>